# SPDX-License-Identifier: MIT

# v1 soldered 1.5u. space row only has a single layout.

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52833_QIAA=y
CONFIG_BOARD_NRF_12U_SPLIT_R=y

# Enable MPU
CONFIG_ARM_MPU=y

CONFIG_PINCTRL=y

# enable GPIO
CONFIG_GPIO=y

CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_CLOCK_CONTROL_NRF=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y

CONFIG_ZMK_USB=y
CONFIG_ZMK_BLE=y

CONFIG_ZMK_STUDIO=y
CONFIG_ZMK_POINTING=y

# backlight
# CONFIG_ZMK_BACKLIGHT=y


# # led strip
# CONFIG_ZMK_RGB_UNDERGLOW=y
# # Use the STRIP config specific to the LEDs you're using
# CONFIG_WS2812_STRIP=y
# CONFIG_ZMK_RGB_UNDERGLOW_EFF_START=2
# CONFIG_ZMK_RGB_UNDERGLOW_HUE_START=50
# CONFIG_ZMK_RGB_UNDERGLOW_ON_START=y
# CONFIG_ZMK_RGB_UNDERGLOW_SPD_START=2
# CONFIG_ZMK_RGB_UNDERGLOW_BRT_START=10
# CONFIG_ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE=n
# CONFIG_ZMK_RGB_UNDERGLOW_AUTO_OFF_USB=n
# CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n