# Electronut Labs Papyr board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_NRF_BDW_840 || BOARD_NRF_BDW_833

config ZMK_KEYBOARD_NAME
    default "bdw_1027_2139"

config BOARD
    default "nrf_bdw"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT


config BOARD_NRF_CHARGER
    default y

endif # BOARD_NRF_BDW_840 || BOARD_NRF_BDW_833
