/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <nordic/nrf52833_qiaa.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>


/ {
    model = "bdw nRF52833";
    compatible = "chenluo,nrf_bdw";

    chosen {
        zephyr,code-partition = &code_partition;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zmk,battery = &vbatt;
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    leds {
        compatible = "gpio-leds";
        blue_led: led_2 {
            gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
        };
    };

    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 2>;
        output-ohms = <1000000>;
        full-ohms = <(1000000 + 1000000)>;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "row2col";
        wakeup-source;
        row-gpios
            = <&gpio0 2  (GPIO_ACTIVE_LOW)>
            , <&gpio1 13 (GPIO_ACTIVE_LOW)>
            , <&gpio0 28 (GPIO_ACTIVE_LOW)>
            , <&gpio0 3  (GPIO_ACTIVE_LOW)>
            ;
        col-gpios
            = <&gpio0 5  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <1>;
        rows = <4>;
        map = <
RC(0,0)
RC(1,0)
RC(2,0)
RC(3,0)
        >;
    };

};

&adc {
    status = "okay";
};

&gpiote {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

zephyr_udc0: &usbd {
    compatible = "nordic,nrf-usbd";
    status = "okay";
};


&flash0 {
    /*
     * For more information, see:
     * http://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html
     */
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        sd_partition: partition@0 {
            reg = <0x00000000 0x00026000>;
        };
        code_partition: partition@26000 {
            reg = <0x00026000 0x000c6000>;
        };

        /*
         * The flash starting at 0x000ec000 and ending at
         * 0x000f3fff is reserved for use by the application.
         */

        /*
         * Storage partition will be used by FCB/LittleFS/NVS
         * if enabled.
         */
        storage_partition: partition@ec000 {
            reg = <0x000ec000 0x00008000>;
        };

        boot_partition: partition@f4000 {
            reg = <0x000f4000 0x0000c000>;
        };
    };
};
