/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/* Uncomment this block if using an encoder */
//&encoder {
//    status = "okay";
//};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB  |  Q   |  W   |  E   |  R   |  T   |   Y   |  U    |  I   |  O   |   P   | BSPC  |
            // |  ESC  |  A   |  S   |  D   |  F   |  G   |   H   |  J    |  K   |  L   |   ;   |  '    |
            // | SHIFT |  Z   |  X   |  C   |  V   |  B   |   N   |  M    |  ,   |  .   |   /   |  RET  |
            // | LCTRL | LCTRL | LALT | LGUI | LOWR |     SPACE    |  RAIS | LEFT | DOWN | UP  |  RIGHT |
            bindings = <
                &kp TAB    &kp Q    &kp W    &kp E  &kp R     &kp T  &kp Y   &kp U     &kp I     &kp O    &kp P     &kp BSPC
                &kp ESC    &kp A    &kp S    &kp D  &kp F     &kp G  &kp H   &kp J     &kp K     &kp L    &kp SEMI  &trans
                &kp LSHFT  &kp Z    &kp X    &kp C  &kp V     &kp B  &kp N   &kp M     &kp COMMA &kp DOT  &trans    &kp RET
                &kp LCTRL  &kp LALT &kp LGUI &trans &kp SPACE &trans &trans  &kp SPACE &trans    &kp RGUI &kp RALT  &kp RCTL
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
